# Put flake + lock into a subdirectory to avoid nix copying over every single
# subdirectory
SHA=$(cat flake.* | sha256sum | cut -d' ' -f 1 | head -c 20)
CACHE_PATH=/tmp/.direnv/source-flake-$SHA
if [ ! -d $CACHE_PATH ]; then
  echo "Creating $CACHE_PATH"
  mkdir -p $CACHE_PATH
  cp -r flake.* $CACHE_PATH
fi

# This seems to fuck with nix-direnv, so make sure to still watch the original
# flake + lock
watch_file ./flake.nix
watch_file ./flake.lock

# Use the flake _in the cache_
use flake $CACHE_PATH
